<!DOCTYPE html>
<html>
<head>
  <title>AttrTracker</title>
  <%= stylesheet_link_tag    "attr_tracker/application", media: "all" %>
  <%= javascript_include_tag "attr_tracker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
